body {
	font-family: "Open Sans";
}

.bgimage {
	background-image: url('../img/Girls1.jpg');
	background-position: center center; /*may want to not center vertically it is cutting off your heads!*/
	background-size: cover;
	height: 200px;
}

.jumbotron {
	background-color: #337ab7;
	color: white;
}

.container-fluid {
	padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}


